# Ignore NodeJS files
node_modules
package-lock.json

bin/*
!bin/app
!bin/utils

/examples/tests/*
/examples/*

# Tests
tests/*

# Ignore HTML files (web)
*.html

test.*

# Beta test
termux/


#archives
.tar
.zip