*.asmx
*.asmX language=/syntax/.tmLanguage
*.asmX linguist-language=asm
*.asmX linguist-detectable=true
*.ash linguist-language=Shell
*.js linguist-detectable=false
*.ts linguist-detectable=false
*.bat linguist-detectable=false