# Ignore NodeJS files
node_modules
package-lock.json

bin/*
# Exclude bin/app directory
!bin/app   
# Exclude bin/utils directory
!bin/utils 

/examples/tests/*
/examples/*
!/examples/*
!/examples/*.asmX

# Tests
tests/*

# Ignore HTML files (web)
*.html

test.*

# Beta test
termux/


#archives
.tar
.zip


/etc/os/AsmXOS/usr/*
!/etc/os/AsmXOS/usr/*

/AsmX_Crash_Course/*
etc/os/AsmXOS/usr/.history

bin/*
etc/os/AsmXOS/usr/.history

*.sh
*.bash
*.fish
*.zsh
